.Header{
    background: black;
    height: 100px;
    color: #fff;
    font-size: 50px;
    padding-top:20px
}
.firstMovie{
    color: #fff;
    text-align: left;
    padding-top: 400px;
    padding-left: 50px;
    width: 100%;
    padding-bottom: 50px
}
.firstText{width: 700px}