.Header{
    background: black;
    height: 100px;
    color: #fff;
    font-size: 50px;
    padding-top:20px
}
.firstMovie{
    color: #fff;
    text-align: left;
    padding-top: 400px;
    padding-left: 50px;
    width: 100%;
    padding-bottom: 50px
}
.firstText{width: 700px}
.singleMovie{
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: rgba(0,0,0,.7);
    position: relative;
    color: #fff
}
.img{
    width: 100%;
    height: auto;
    background-size: contain;
  }
  .singleImg{
      float: left
  }
  .actorImg{
      width: 100px;
      float: left
  }
  .singleActor{
      background:#242420;
      color: #fff;
      height: 100%
  }